<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  
  
  <script th:inline="text">

  
  /*<![CDATA[*/
		
  		var redirectFromParentPath = '[(${#request.getAttribute("PARENT_AUTHENTICATION_URI")})]';
		var redirectFromIFramePath = '[(${#request.getAttribute("I_FRAME_AUTHENTICATION_URI")})]';
		
		
		  
		  // If the current window is the 'parent', change the URL by setting location.href parentRedirectUri
		  if (window.top == window.self) {
			  console.log("In parent" + "url: " + redirectFromParentPath);
			  if(redirectFromParentPath){
				    window.location.assign(redirectFromParentPath);
			  }
		
		  // If the current window is the 'child', change the parent's URL with ShopifyApp.redirect
		  } else {
			  console.log("In child" + "url: " + redirectFromIFramePath);
		    ShopifyApp.redirect(redirectFromIFramePath);
		  }
		  
	/*]]>*/
		</script>
  
  
  
  <title>TEST</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
</head>
<body>
<h1>WELCOME</h1>
 <a href="/products" >Protected resource</a>
</body>
</html>